<!DOCTYPE html>
<html>
        <head>
    
                <meta name="viewport" content="width=device-width, initial-scale=1">
            
                <title>Softvision olx- Thankyou</title>
               
                <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

              </head>
              <script>
              window.history.forward();
              </script>
            
    <body>
        <div class="jumbotron text-xs-center" style="text-align: center;">
            <h1 class="display-3">Thank You!</h1>
            <p class="lead"><strong>Please check your email</strong> for further instructions on how to complete your account setup.</p>
            <hr>
            <p>
              Having trouble? <a href="">Contact us</a>
            </p>
            <p class="lead">
              <a class="btn btn-primary btn-sm" href="{% url 'olx:product_list' %}" role="button">Continue to homepage</a>
            </p>
          </div>
         
    </body>
</html>

